# .gitatributes file for the OpenPnP repository

# Force line ending conversions to LF
*               -text

# Binary files should never be converted nor diff'ed
*.icns          binary
*.png           binary
*.pxm           binary
*.wav           binary
